@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background: white;
   
}
header{height:90px;}
footer{height: 80px;}
.navbar{z-index: 10;}

.row{
    margin:0px;
}
/* 
nav {
    background-color: white;
    flex-grow: 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: end;

}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    font-weight: 300;
    box-sizing: border-box;
    color: black;
    line-height: 1.3rem;
    font-size: 1.0rem;
    padding: 4.0rem 2.0rem;
} */



#menuNav {padding-top:15px;}
#logo{ 
    /* width:250px; */
    height: 60px ;
}
.navbar{padding:0px;}
.top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 1024px;
    margin:auto;
   
}
header {
    background-color: #ffffff;
    /* display: flex; */
    align-items: center;
}
main{
    background-color: #434343;
}
main .mainDiv{
    margin:auto;
    max-width: 1024px;
}

.container-fluid{
    padding: 0px;
}

a:link,
a:visited {
    text-decoration: none;
}

.black {
    background-color: black;
    color: white;
}

.gray {
    background-color: #f2efec;
    color: black;
}

.footer {
    background-color: white;
    font-size: 1rem;
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    justify-content: right;
    max-width: 1024px;
    margin: auto;   
}

.carousel-control-next, .carousel-control-prev {width:5%}

.bg_yellow{
    background-color: #F7C873;
}


.top10List .moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.top10List .card {
    --bs-card-border-color: 0;
    box-shadow: 0 0 1px 12px rgb(255, 255, 255), 0 0 3px 12px rgba(0, 0, 0, 0.2);
    /* max-width: 400px; */
}

.top10List .card img {
    border-radius: 5px;
}

.top10List .card img:hover {
    filter: brightness(75%);
    transition: filter 0.3s linear;
}

.top10List .card-title {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
}




.actorsList .moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.actorsList .movieBox img {
    height: 460px;
    margin: 10px;
    border-radius: 5px;
}

.actorsList .movieBox>img:hover {
    filter: brightness(75%);
    transition: filter 0.3s linear;
}
.filmopediaBanner{
    background-image: url('../images/filmopediaBanner.png');
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    width: 100%;
}
.contactus section{
    background-color: #f8f8f8;
}

.nav-item:hover{
    cursor:pointer;
}

.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap:1rem;
    margin-top: 2rem;
    
}
.box .box-img{
    width: 100%;
    height: 270px;
}
.box{ 
    color: white;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img img:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.social-network{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    /* padding-top: 4%;
    padding-left: 5%; */

}

.social-network .bx{

    background-color: black;
    font-size: 2rem;
    border-radius: 50%;
    color: white;
}

.social-network .bx:hover{
    background-color: white;
    color: black;
    transition: 0.2s all linear;
}
